:root {
  --black: #000000;
  --white: #ffffff;
  --light-gray: #d7d3cb;
  --dark-gray: #282c34;
  --red: #dd2e44;
  --orange: #ffac33;
  --dark-orange: #f4900c;
  --light-yellow: #ffe8b6;
  --yellow: #ffd983;
  --light-brown: #d99e82;
  --brown: #c1694f;
  --light-green: #a6d388;
  --green: #77b255;
}
